@model List<CMS.Data.Entities.User>

<h2>Danh sách thành viên</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Tên đăng nhập</th>
            <th>Vai trò</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.Username</td>
                    <td>@item.Role</td>
                </tr>
        }
    </tbody>
</table>