@model List<CMS.Data.Entities.Order>

<h2>Danh sách đơn hàng</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ngày đặt</th>
            <th>Khách hàng</th>
            <th>Trạng thái</th>
            <th>Ghi chú</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Id</td>

                    <td>@item.OrderDate</td>

                    <td>@item.Customer?.FullName</td>

                    <td>
                    @if (item.Status == 0)
                    {
                                <span>Chờ duyệt</span>
                    }
                    else if (item.Status == 1)
                    {
                                <span>Đang giao</span>
                    }
                    else
                    {
                                <span>Đã xong</span>
                    }
                    </td>

                    <td>@item.Notes</td>
                </tr>
        }
    </tbody>
</table>